/* 
    Document   : asuntos
    Created on : 16/11/2010, 10:47:09 AM
    Author     : carlos.rivera
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.td_concepto_izq_gde
{
    text-align: left;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 14px;
    font-weight: bold;
    color: #646463;
}

.td_concepto_izq_peq
{
    text-align: left;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 12px;
    /*font-weight: bold;*/
    color: #646463;
}

.td_descripcion_cntr_peq
{
    text-align: center;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 12px;
    /*font-weight: bold;*/
    color: #646463;
}

.td_concepto_der_peq
{
    text-align: right;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 12px;
    /*font-weight: bold;*/
    color: #646463;
}

.td_concepto_der_gde
{
    text-align: right;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 14px;
    font-weight: bold;
    color: #646463;
}

.td_concepto_izq_gde
{
    text-align: left;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 14px;
    font-weight: bold;
    color: #646463;
}


.td_descripcion_izq_peq
{
    text-align: left;
    vertical-align: bottom;
    font-family: Times New Roman;
    font-size: 12px;
    position: absolute;

    /*font-weight: bold;*/
    color: #646463;
}

.td_concepto_izq_peq_negro
{
    text-align: left;
    vertical-align: middle;
    font-family: Times New Roman;
    font-size: 12px;
    font-weight: bold;
    color: #646463;
}

hr
{
    width: 100%;
    color: #646463;
    background-color: #DADADA;
    height: 5px;
    border-color: #DADADA;
    border-style: solid;
}

.btn_cntr {
    text-align:center;
}

div.content .contentform table {
    width:100%;
}

div.content .contentform {
    text-align:center;
}

div.content div.inner div.contentform
{
    width: 98%;
}

.input_docsAdj
{
    font-size: 12px;
    color: #646463;
}
.msgError
{
    font-family: Times New Roman;
    font-size: 12px;
    font-weight: bold;
    color: #BA2025;
}

.msgSuccess
{
    font-family: Times New Roman;
    font-size: 12px;
    font-weight: bold;
    color: #BA2025; 
}

.campoVacio
{
    font-family: Times New Roman;
    font-size: 12px;
    font-weight: bold;
    color: #646463; 
}

.campoRequerido
{
    text-align: left;
    color: #BA2025; 
    font-family: Times New Roman;
    font-size: 9px;
}
.accordion h3
{
    background-color: #DADADA;
    color: #BA2025;
    border: 1px solid #565656;
    height: auto;
}
.ui-state-default a
{
    color: #ba2025;
    font-weight: bold;

}

.ui-accordion .ui-accordion-header a {
    margin-left: 17px;
    padding: 0.3em;
}


.historico { margin: 1em 0; border-collapse: collapse; width: 100%; }
.scg-finalizado { margin: 1em 0; border-collapse: collapse; width: 100%; }
.historico td, .historico th { border: 1px solid #565656;  text-align: center; }
.scg-finalizado td, .scg-finalizado th { border: 1px solid #565656;  text-align: center; }
/*.historico tbody { background-color: #f1f1f1}*/


.comentario
{
    font-style: italic;
    font-size: 12px;
    color: #646463;
    text-align: left;
    text-transform: uppercase;
}

.ui-icon-display
{
    margin-top: -8px;
    position: relative;
    top: 10%;
    background-image: url("../../../imagenes/jquery-ui/ui-icons_888888_256x240.png");
    height: 16px;
    width: 100px;

}

.ui-icon-catalog
{
    height: 16px;
    margin-top: -1px;
    position: relative;
    width: 100px;
    cursor: pointer;
}

.icon-area
{
    background-position: -31px 112px;
    right: 11em;
    background-image: url("../../../imagenes/jquery-ui/ui-icons_222222_256x240.png");
}

.expandable-accordion
{
    right: 2em;
    background-position: 0px 48px;
}
.collapsable-accordion
{
    right: 0.5em;
    background-position: -16px 48px; 
}
table thead .ui-widget-header
{
    background-color: #c6c7c8;
    color: #ba2025;
    font-size: 12px;
}
.historico-asunto .ui-state-default, .historico-asunto .ui-widget-content .ui-state-default,
.historico-asunto .ui-widget-header .ui-state-default {
    /* background: url("../../imagenes/jquery-ui/") repeat-x scroll 50% 50% #9c9e9f; */
    border: 1px solid #565656;
    color: #ba2025;
    font-weight: normal;
}

.turnar-asunto table tbody td, .turnar-asunto table thead th
{
    border: 1px solid #565656;
}
.turnar-asunto table {
    border-collapse: collapse;
}

.turnar-asunto #arbolA input.tree
{
    width: 55%;
}
.turnar-asunto #arbolC input.tree
{
    width: 52%;
}
.turnar-asunto div select.tree
{
    width: 300px;
}
.turnar-asunto textarea
{
    width: 98%;
    height: 200px;
}

.atender-asunto table tbody td, .atender-asunto table thead th
{
    border: 1px solid #565656;
}
.atender-asunto table {
    border-collapse: collapse;
}

.atender-asunto #arbolA input.tree
{
    width: 55%;
}
.atender-asunto #arbolC input.tree
{
    width: 52%;
}
.atender-asunto div select.tree
{
    width: 300px;
}
.atender-asunto textarea
{
    width: 98%;
}

.scg-listado-destinatario
{
    width: 240px;
}
#arbolE input[type="text"]
{
    width: 300px;
}
#respuesta-rechazar
{
    width: 99%;
}
.rechazar-desc-ccp
{
    width: 350px;
}
.desc-area-empleado
{
    width: 450px;
}
.criterio
{
    width: 98%;
}

.scg-list-areas
{
    width: 50%;
}